body{padding:0; margin:0; background:url(../images/bg.png); font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:12px;}
a{color:#F16007; text-decoration:none;}
a:hover{color:#d6d6d6;}
h1{font-size:14px; border-bottom:#f16007 solid 0.5px; width:85%;}
hr{color:#f16007; background-color: #f16007; height:1px;}
#conteiner{margin-left: auto; margin-right: auto; width:950px; min-height:800px;}
#logo{padding:10px; height:105px;}
.middle .promocja{left:520px; top:50px; font-size:30px; color:#f2f2f2; width:400px; position:relative;}
#logo .logo{width:630px; height:105px; background:url(../images/logo.png); background-repeat:no-repeat; float:left;}
#logo .dane{width:300px; float:left; color:#faf4f2; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
#logo .dane .tel{background:url(../images/tel.png); background-repeat:no-repeat; background-position:left; padding-left:20px; float:left;}
#logo .dane .email{background:url(../images/email.png); background-repeat:no-repeat; background-position:left; padding-left:20px; float:left; margin-left:20px;}
#menu {height:257px}
#menu .left{background:url(../images/menu_left.png); background-repeat:no-repeat; float:left; width:19px; height:257px;}
#menu .center{float:left; height:257px; width:912px;}
#menu .center .top{background:url(../images/menu.png) top; background-repeat:repeat-x; width:100%; height:46px;}
#menu .center .top ul{list-style:none; display:block; margin:0; padding:0; padding-left:10px;}
#menu .center .top ul li{float:left; height:46px; line-height:46px; font-size:14px;  font-weight:bold; color:#fff; background:url(../images/menu2.png) right; background-repeat:no-repeat; text-align:center; padding-left:15px; padding-right:15px;}
#menu .center .top ul li a{color:#fff;}
#menu .center .top ul li a:hover{ color:#d6d6d6;}
#menu .center .middle{ height:211px; background:url(../images/menu_middle.png); background-repeat:no-repeat;}
#menu .right{background:url(../images/menu_right.png); background-repeat:no-repeat; float:left; width:19px; height:257px;}
#content{margin:11px; margin-top:20px; clear:both; width:928px; float:left;}
#content #tabela{background-color:#FAFAFA; width:100%; min-height:200px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;}
#content #tabela #page{padding:10px;}
#content #table{width:640px; float:left;}
#content #table_right{width:260px; margin-left:27px; float:left;}
#content #table #nav,#content #table_right #nav,#content #bottom #nav,#content #bottom-center #nav{background:url(../images/menu.png) top; background-repeat:repeat-x; width:100%; height:46px; border-top-left-radius:10px; border-top-right-radius:10px; text-align:center; line-height:46px; color:#fff; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
#content #bottom{float:left; width:290px;}
#content #bottom-center{float:left; width:290px; margin-right:29px; margin-left:29px;}
#footer{width:100%; height:50px; border-top:#f16007 solid 0.5px; float:left; margin-top:20px;}
#footer p{margin:0; padding:0; color:#363636; font-size:11px; padding-left:10px;}
#footer b{color:#ff6600;}
#page ul{list-style:none; margin:0; padding:0;}
#page li a:hover{padding-left:5px;}
.formularz input {
	width: 200px;
	background: #f3f3f3;
	border-top: 1px solid #dedede;
	border-left: 1px solid #dedede;
	border-right: 0;
	border-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 10px;
	font-size: 12px;
	color: #373737;
	-moz-box-shadow:inset 3px 3px 5px #e9e9e9;
	-webkit-box-shadow:inset 3px 3px 5px #e9e9e9;
	box-shadow:inset 3px 3px 5px #e9e9e9;
}
.formularz label{clear:both; display:block; padding:10px; border-bottom:#f16007 solid 0.5px;}
.formularz .dane{min-width:150px; float:left; line-height:40px;};
.skladniki ul{width:100%;}
.skladniki li{width:33%; font-size:18px; float:left; line-height:10px; padding-top:10px;}
.skladniki li input[type="checkbox"]{float:left; width:20px;}
#lista_pizza{clear:both; background:url(../images/li.png); background-repeat:repeat-x; height:34px; color:#f16007; padding-left:20px;}
#lista_pizza .oferta{line-height:34px; float:left; width:100px; text-align:center}
#lista_pizza .skladniki{font-size:10px; color:#323231; font-style:italic;}
.zamow{background-color:#f06622; border-radius:5px; border:1px solid #c35620; margin-top:5px; width:50px; font-size:11px; color:#fff; padding:2px; padding-left:10px; padding-right:10px;}

.form_zamow label{clear:both; display:block; padding:10px; border-bottom:#f16007 solid 0.5px; text-align:center;}
.form_zamow .dane{text-align:center; width:100%;}
.form_zamow input {
	width: 150px;
	background: #f3f3f3;
	border-top: 1px solid #dedede;
	border-left: 1px solid #dedede;
	border-right: 0;
	border-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 5px;
	font-size: 12px;
	color: #373737;
	-moz-box-shadow:inset 3px 3px 5px #e9e9e9;
	-webkit-box-shadow:inset 3px 3px 5px #e9e9e9;
	box-shadow:inset 3px 3px 5px #e9e9e9;
}
.name{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#f16007; font-weight:bold; text-decoration:underline; padding-left:20px;}